html, body {
    margin: auto;
    padding: auto;
    font-family: "Roboto";
}

body {
    padding: 4vh 4vh 4vh 4vh;
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 3vh;
    padding-bottom: 2vh;
}

.logo {
    height: 3vh;
    width:auto;

}

.nav-bar ul{
    list-style-type: none;
    gap: 0.1em;
}

/* .nav-bar li{
    padding-left:0.1em;
} */

.hero {
    /* background-color: darkred; */
    background-image: url('images/temp-bg.png');
    height: 85vh;
    
    justify-content: center;
    align-items: center;
}


.intro {
    width: 60%;
    font-size: 8em;
    text-align: center;
    color: darkgrey;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;   
}

.demo a {
    
    position: absolute;
    bottom: 2.5vh;
    right: 4vh;
    z-index: 2;
    display: flex;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font : normal 400 0.8em/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  

#scroll-button a {
    padding-top: 0px;
  }
#scroll-button a span {
    width: 0.5em;
    height: 0.5em;
    margin-left: 1em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
    }

@-webkit-keyframes sdb04 {
0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
}
20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
}
40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
}
}
@keyframes sdb04 {
0% {
    transform: rotate(-45deg) translate(0, 0);
}
20% {
    transform: rotate(-45deg) translate(-10px, 10px);
}
40% {
    transform: rotate(-45deg) translate(0, 0);
}
}
  
  
