html, body {
    margin: auto;
    padding: auto;
    font-family: "Roboto";
}

body {
    padding: 4vh 4vh 4vh 4vh;
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container-v {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 3vh;
    padding-bottom: 1.5vh;
}

.logo {
    height: 3.5vh;
    width:auto;

}

.nav-bar ul{
    list-style-type: none;
    gap: 0.1em;
    font-size: 0.9em;
}

.nav-link {
    text-decoration: none;
    color:black;
}

.nav-link:hover {
    
    font-weight: bold;
}

/* .nav-bar li{
    padding-left:0.1em;
} */

.hero {
    /* background-color: darkred; */
    background-image: url('images/temp-bg.png');
    height: 85vh;
    justify-content: center;
    align-items: center;
}


.intro {
    width: 60%;
    max-height: 80%;
    font-size: 7vw;
    text-align: center;
    color: darkgrey;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;   
}


.controller {
    height: 4vh;
    font-size:0.9em;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.demo {
    padding-top: 2vh;
}

.demo a {
    
    z-index: 2;
    display: flex;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font : normal 400 1em/1 ;

    text-decoration: none;
    transition: opacity .3s;
  }

  .demo a:hover {
    font-weight: bold;
  }
  

#scroll-button a {
    padding-top: 0px;
  }

#scroll-button a span {
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.6em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
    }

@-webkit-keyframes sdb04 {
0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
}
20% {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
}
40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
}
}
@keyframes sdb04 {
0% {
    transform: rotate(-45deg) translate(0, 0);
}
20% {
    transform: rotate(-45deg) translate(-5px, 5px);
}
40% {
    transform: rotate(-45deg) translate(0, 0);
}
}

#skills {
    padding: 0 10vw 0 10vw;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

#projects {
    padding: 0 10vw 0 10vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#contact {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.mugshot {
    width: 150px;
    height: 150px;
    margin: 0px 10px 20px 0px;
    border-radius: 75px;
}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.section-title {
    width:100%;
    text-align: center;
    padding-bottom: 1em;
}


.social-link {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 0.1em;
}

.social-link:hover {
    font-weight: bold;
}

/* CARDS */

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.skill-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align:left;
}

.skill-card-header h4 {
    margin: 1.5em 0 0 1.5em;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.skill-card-body {
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


.tag {
    background: #cccccc;
    font-size: 12px;
    margin: 2px;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;

}
.tag-teal {
    background-color: #47bcd4;
}
.tag-purple {
    background-color: #5e76bf;
}
.tag-pink {
    background-color: #cd5b9f;
}

.tag-grey {
    background-color: grey;
}

.tag-minimal {
    display: inline-block;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color:white;
}

.tag-minimal:hover {
    color: white;
    background-color:black;
}

.card-title {
    margin: 1em 0 1em;
}

.card-body p {
    font-size: 0.8em;
    margin: 0 0 3.2em;
}

.card-links {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    
}

.card-links i{
    font-size: 1.2em;
    color:grey;
    margin: 0 0 0 0.6em;
}

.card-links i:hover{
    color:black;
}


@media screen and (max-width: 768px) {
    .intro {
        font-size: 10vw
    }
}

@media screen and (max-width: 425px) {
    .intro {
        font-size: 12vw
    }
}
