.shape {
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.visible-text {
    visibility: visible;
    color:grey
}


/* COLOR STYLES */

.color-0 {
    background-color: white;
}

.color-1 {
    background-color: #202020;
}

.color-2 {
    background-color: #ffc700;
}

.color-3 {
    background-color: #ff4040;
}

.color-4 {
    background-color: #40a3ff;
}

.color-5 {
    background-color: orange;
}

.color-6 {
    background-color: purple;
}

.color-7 {
    background-color: pink;
}

.color-8 {
    background-color: grey;
}

.color-9 {
    background-color: red;
}

/* RECTANGLE STYLES */

.rectangle-0 {
    background-color: rgb(51, 51, 51);
    margin-top: 25%;
    margin-bottom: 25%;
}

.rectangle-1 {
    background-color: rgb(51, 51, 51);
    margin-left: 25%;
    margin-right: 25%;
    

}

.rectangle-2 {
    background-color: rgb(51, 51, 51);
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;

}

.rectangle-3 {
    background-color: rgb(51, 51, 51);
    margin-top: 40%;
    margin-bottom: 40%;

    
}

.rectangle-4 {
    background-color: rgb(51, 51, 51);
    margin-left: 40%;
    margin-right: 40%;
}

.rectangle-5 {
    background-color: rgb(51, 51, 51);
    margin-top: 10%;
    margin-bottom: 10%;
}

.rectangle-6 {
    background-color: rgb(51, 51, 51);
    margin-left: 10%;
    margin-right: 10%;
}

.rectangle-7 {
    background-color: rgb(51, 51, 51);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.rectangle-8 {
    background-color: rgb(51, 51, 51);
    margin-left: 30%;
    margin-right: 30%;
}

.rectangle-9 {
    background-color: rgb(51, 51, 51);
    margin-top: 30%;
    margin-bottom: 30%;
}


/* CIRCLE STYLES */

.circle-0 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin:0%;
}

.circle-1 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin:40%;    

}

.circle-2 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 25%;

}

.circle-3 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 10%;
    
}

.circle-4 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 40%;
}

.circle-5 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 15%;
}

.circle-6 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 35%;
}

.circle-7 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 5%;
}

.circle-8 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 45%;
}

.circle-9 {
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 25%;
}